# Ignorer le dossier data (toutes les photos)
data/

# Ignorer le fichier de modèle encodé
*.pkl        # base de données embeddings

# Ignorer le cache Python
__pycache__/
*.pyc



# Ignorer les fichiers de configuration locaux
.env
test/*.jpg
test/*.jpeg
test/*.png
test/*.bmp



*.sqlite
