:root {
    --primary-color: #3730a3;
    --primary-hover: #4338ca;
    --primary-hsl: hsl(245, 58%, 51%);
    --text-color: #fff;
    --bg-color: #f4f4f4;
}

body {
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    color: var(--primary-color);
}

button {
    background-color: var(--primary-color);
    color: var(--text-color);
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s;
}

button:hover {
    background-color: var(--primary-hover);
}
